name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push User Service
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/user-service:latest ./src/user-service
          docker push ${{ secrets.DOCKER_USERNAME }}/user-service:latest
