name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

  - name: SonarQube Scan
  uses: SonarSource/sonarqube-scan-action@v2
  continue-on-error: true
  env:
    SONAR_TOKEN: dummy
    SONAR_HOST_URL: https://sonarcloud.io



      - name: Trivy File System Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          severity: HIGH,CRITICAL



      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend:latest ./src/frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend:latest


      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKER_USERNAME }}/frontend:latest
          severity: HIGH,CRITICAL
          exit-code: 1


